@{
    ViewData["title"] = "Serviços";
}

<div class="jumbotron tema-servicos ml-md-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/flora-spa.jpeg" class="imgs-config">
            <h5 class="offset-md-2">Flora SPA</h5>
        </div>
        <div class="col-md-6 espacamento">
            <img src="~/images/fitness-center.jpeg" class="imgs-config">
            <h5 class="offset-md-2">Fitness Center</h5>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="~/images/club-kids.jpg" class="imgs-config">
            <h5 class="offset-md-2">Club Kids</h5>
        </div>
        <div class="col-md-6 espacamento">
            <img src="~/images/suites.jpg" class="imgs-config">
            <h5 class="offset-md-2">Suítes</h5>
        </div>
    </div>
</div>
