@{
    ViewData["title"] = "Sobre";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/hotel.png" class="imgs-sobre-config">
        </div>
        <div class="col-md-9 align-self-center text-sobre-1">
            <p class="lead">
                Bem vindo ao LMJ Hotel. O Hotel possui 65 apartamentos espaçosos,
                todos com lindas vistas para a cidade. Ele ainda oferece nove salas
                funcionais - sendo um salão de festas com capacidade para até 200 convidados
                - um Spa e um fitness center, além de piscinas interna e externa e um Club Kids.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3 order-md-2">
            <img src="~/images/culinaria-hotel.jpg" class="imgs-sobre-config">
        </div>
        <div class="col-md-9 order-md-1 align-self-center text-sobre-2">
            <p class="lead">
                Desfrute de uma pausa no LMJ Hotel e descubra a excelência culinária
                dos chefs Érick Jacquin e Henrique Fogaça
                além da experiência de bem-estar renovadora no Flora Spa.
                Venha relaxar e desfrutar de tudo que este Oásis Urbano tem a oferecer.
            </p>
        </div>
    </div>
</div>