<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lmj Hotel </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<!-- Todo HTML, CSS e Bootstrap aqui configurados servem de layouts para
    todas as telas dessa aplicação, é o padrão do Template Razor do
    ASP.NET Core -->

<body>
    <!-- Inicio do cabeçalho -->
    <header>
        <!-- Inicio da barra de navegação -->
        <nav class="navbar navbar-expand-md navbar-light">
            <!-- Inicio da área container do cabecalho -->
            <div class="container-fluid">
                <div class="nav-brand tema-hotel">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo-hotel.jpg" id="logo">
                    </a>
                    <h4 class="d-inline ml-2">LMJ Hotel</h4>
                </div>

                <!-- Menu Hamburguer (Aparece somente quando o tamanho da tela á reduzido) -->
                <button class="navbar-toggler text-right" data-toggle="collapse" data-target="#navegacao">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Inicio da configuração dos itens de naveção -->
                <div class="collapse navbar-collapse mr-5" id="navegacao">
                    <div class="nav flex-column ml-auto mt-3">
                        <a class="link-tela-reserva" asp-controller="Reserva" asp-action="Solicitar">Faça sua reserva</a>
                        <ul class="navbar-nav mt-2">
                            <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <!-- Links Ocultos, aparecem somente quando o usuário estiver logado -->
                                <li><a class="nav-link" asp-controller="Hospede" asp-action="Detalhes">Hóspede</a></li>
                                <li><a class="nav-link" asp-controller="Hospede" asp-action="Logout">Logout</a></li>
                            }
                            else
                            {
                                <li><a class="nav-link" asp-controller="Hospede" asp-action="Login">Hóspede</a></li>
                            }
                            <li><a class="nav-link" asp-controller="Home" asp-action="Servicos">Serviços</a></li>
                            <li><a class="nav-link" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                        </ul>
                    </div>
                </div><!-- Final da configuração dos itens de naveção -->
            </div><!-- Final da área container do cabecalho -->
        </nav><!--Final da barra de navegação-->
    </header><!--Final do cabeçalho-->
    <!-- Inicio da área de container do conteúdo principal de cada View -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Inicio do rodapé do site -->
    <footer class="border-top footer text-muted">
        <p class="text-center">&copy;LMJ Hotel - desde 2002</p>
    </footer><!-- Final do rodapé do site -->
    <!-- Scripts padrão gerados pelo ASP NET CORE -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>