@model LmjHotelWebApplication.Models.ViewModels.SuccessViewModel

@{
    ViewData["Title"] = "Success";
}

<div class="mt-4">
    <h2 class="text-dark">@ViewData["title"]</h2>
    <h3 class="text-dark">@Model.Message</h3>
</div>