@model LmjHotelWebApplication.Models.ViewModels.LoginHospedeViewModel

@{
    ViewData["title"] = "Login";
}

<div>
    <div class="d-flex justify-content-center mt-5">
        <img src="~/images/person.jpg" class="user-icone" />
        <h3 class="ml-4 mt-3">@ViewData["title"]</h3>
    </div>

    <!-- Inicio do Form de Login -->
    <form asp-action="Login">
        <div class=" col-md-6 offset-md-3 mt-4">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Digite seu Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label asp-for="Senha"></label>
                <input asp-for="Senha" class="form-control" placeholder="Digite a sua senha de acesso" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Login" class="btn btn-config" />
            </div>
        </div>
    </form><!-- Final do Form de Login -->

    <!-- Links opcionais abaixo dp Form de Login -->
    <div id="links-abaixo-login" class="col-md-6 offset-md-3">
        <a asp-action="Cadastrar">Cadastre-se</a>
        <a asp-action="RedefinirSenha" class="ml-5">Esqueçi minha senha</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
