/* Estilo customizado para o cabeçalho do site */
header {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    background: #C4C4C4;
    border-radius: 10px;
}

/* Estilo customizado para o cabeçalho LMJ Hotel na parte superior da tela */
h4 {
    color: #383838;
}

/* Estilo customizado para a imagens logotipo do hotel */
#logo {
    width: 120px;
    height: 110px;
    border-radius: 20px;
}

/* Mudando a cor dos links de naveção na parte superior da tela */
#navegacao ul a {
    color: #383838;
}

/* Muda a cor dos itens de naveção principal ao passar o mouse sobre */
#navegacao ul a:hover {
    color: #000080;
}

/* Removendo o underline ao passar o mouse em cima do Faça sua reserva */
#navegacao a:hover {
    text-decoration: none;
}

/* Estilo customizado para o link Faça sua reserva na parte superior da tela */
.link-tela-reserva {
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    background: #090C59;
    color: #FFFFFF;
    height: 26px;
    font-weight: 600;
}

/* Estilo customizado para os links das telas de login e detalhes */
#links-abaixo-login a,
.link-custom a {
    text-decoration: none;
}

/* Muda a cor dos links  ao passar o mouse sobre */
#links-abaixo-login a:hover,
.link-custom a:hover {
    color: #000080;
    text-decoration: none;
}

/* Estilo customizado para o icone reserva na tela se solicitação e confirmação de reserva */
.icone-reserva {
    width: 180px;
    height: 95px;
}

/* Estilo customizado para o ícone de usuário nas tela de hóspede e de cadastro */
.user-icone {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
    width: 70px;
}

/* Estilo customizado para todos os labels */
label {
    font-weight: bold;
}

/* Estilo customizado para todos os botões */
.btn-config {
    background: #090C59;
    color: #FFFFFF;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Estilo customizado para o cabeçalho */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #logo {
        width: 55px;
        height: 50px;
        border-radius: 15px;
    }

    h4 {
        font-size: 16px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #logo {
        width: 95px;
        height: 85px;
        border-radius: 20px;
    }

    h4 {
        font-size: 36px;
    }
}
